.add-contact {
    display: flex;
    flex-direction: column;

    >* {
        width: rem(400px);

        &:not(:last-child) {
            padding: rem(3px);
            border-radius: rem(4px);
            margin-block-end: rem(20px);
        }
    }
}