.add-contact {
    display: flex;
    flex-direction: column;

    .title {
        font-size: rem(25px);
        width: rem(430px);
        margin-block-end: rem(30px);

        span {
            color: var(--secondary-text-color);
        }
    }

    .add-contact-form {
        display: flex;
        flex-direction: column;

        >* {
            width: rem(430px);
            padding: rem(7px);

            &:not(:last-child) {
                border-radius: rem(4px);
                margin-block-end: rem(20px);
            }
        }

        .btn-add {
            background-color: transparent;
            color: var(--primary-text-color);
            border-color: var(--primary-text-color);
            font-family: roboto;
            font-size: rem(16px);
        }
    }
}