.add-contact {
    display: flex;
    flex-direction: column;

    .title {
        font-size: rem(25px);
        width: rem(430px);
        margin-block-end: rem(30px);
    }

    .add-contact-form {
        display: flex;
        flex-direction: column;

        >* {
            width: rem(430px);

            &:not(:last-child) {
                padding: rem(7px);
                border-radius: rem(4px);
                margin-block-end: rem(20px);
            }
        }
    }
}