.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(25px) 0;
    margin-block-end: rem(30px);

    @keyframes logo {
        from {
            color: var(--primary-text-color);
        }
    
        to {
            color: var(--secondary-text-color);
        }
    }

    .logo {
        font-size: rem(23px);
        animation-name: logo;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .nav-app {
        font-size: rem(15px);

        >*:not(:last-child) {
            margin-inline-end: rem(10px);
        }

        .router-link-active {
            color: var(--secondary-text-color);
            font-size: rem(17px);
        }

        .btn-logout {
            background-color: transparent;
            color: var(--primary-text-color);
            font-family: roboto;
            font-size: rem(15px);
            border: 0;
            padding: 0;
            cursor: pointer;

        }
    }
}