.contact-filter {
    display: flex;
    justify-content: flex-start;
    padding: rem(5px) 0;
    margin-block-end: rem(50px);

    .filterBy-input {
        width: rem(400px);
        padding: rem(3px);
        border-radius: rem(4px);
    }
}