.contact-preview {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-block-end: rem(5px);
    cursor: pointer;

    .contact-name {
        font-size: rem(16px);
    }

    .contact-email,
    .contact-phone {
        font-size: rem(12px);
    }
}