.contact-list {
    display: flex;
    justify-content: center;
    flex-grow: 1;

    @include for-narrow-layout {
        justify-content: flex-start;
        padding-inline-end: rem(17px);
        overflow: auto;

        // scrollbar
        &::-webkit-scrollbar {
            width: rem(10px);
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: rem(5px);
        }

        &::-webkit-scrollbar-thumb {
            background: var(--secondary-text-color);
            border-radius: rem(5px);
        }

        &::-webkit-scrollbar-thumb:hover {
            background: rgba(6, 89, 116, 0.575);
            border-radius: rem(5px);
        }
    }

    @include for-normal-layout {
        justify-content: flex-end;
    }

    ul {
        li {
            border-block-end: 1px solid white;
            position: relative;

            .btn-remove {
                position: absolute;
                top: 0;
                right: 0;
                color: var(--primary-text-color);
                background-color: transparent;
                font-size: rem(15px);
                padding: 0;
                border: 0;
                cursor: pointer;
            }
        }

        >*:not(:last-child) {
            margin-block-end: rem(10px);
        }

        //TransitionGroup
        .list-move,
        .list-enter-active,
        .list-leave-active {
            transition: all 0.5s ease;
        }

        .list-enter-from,
        .list-leave-to {
            opacity: 0;
        }

        .list-leave-active {
            position: absolute;
        }
    }
}