.contact-preview {
    display: flex;
    align-items: center;
    margin-block-end: rem(5px);
    cursor: pointer;

    img {
        height: rem(50px);
        width: rem(50px);
        margin-inline-end: rem(5px);
    }

    .contact-data {
        display: flex;
        flex-direction: column;

        .contact-name {
            font-size: rem(16px);
        }
    
        .contact-email,
        .contact-phone {
            font-size: rem(12px);
        }
    }
}