.home {
    display: flex;
    flex-direction: column;
    align-items: center;

    .primary-title {
        font-size: rem(27px);
        margin-block-end: rem(20px);
    }

    .secondary-title {
        font-size: rem(20px);
        margin-block-end: rem(40px);

        span {
            font-size: rem(23px);
            color: var(--secondary-text-color)
        }
    }

    .data {
        display: flex;
        justify-content: space-between;
        box-shadow: 0 0 6px 0;
        padding: rem(15px);
        border-radius: rem(10px);
        width: 100%;

        .balance {
            display: flex;
            flex-direction: column;
            margin-block-end: rem(50px);

            .btc {
                font-size: rem(18px);
            }

            >* {
                span {
                    color: var(--secondary-text-color);
                    margin-inline-start: rem(3px);
                }
            }

            >*:not(:first-child) {
                font-size: rem(14px);
            }

            >*:not(:last-child) {
                margin-block-end: rem(5px);
            }
        }
    }
}